# NOTE: Storage file system settings:
STORAGE_DIR=storage

# NOTE: Storage system type:
# FILESYSTEM_TYPE:
#   - "local" Local storage (Default).
#   - "s3" S3 storage.
#   - "cs3" Contabo S3 storage.
FILESYSTEM_TYPE=cs3

# NOTE: Contabo CS3 settings:
CS_ACCESS_KEY_ID="ab9gwr3r432457554dasdeffsf"
CS_SECRET_ACCESS_KEY="4do45jto23rjf;ewh3o3ie"
CS_REGION="sin1"
CS_BUCKET_CODE="f7f6355e09235034923032rj3o"
CS_BUCKET="thietngon"
CS_ENDPOINT=sin1.contabostorage.com