# NOTE: Storage file system settings:
STORAGE_DIR=storage

# NOTE: Storage system type:
# FILESYSTEM_TYPE:
#   - "local" Local storage (Default).
#   - "s3" S3 storage.
FILESYSTEM_TYPE=s3

# NOTE: AWS settings:
AWS_ACCESS_KEY_ID="lJ0ZXt"
AWS_SECRET_ACCESS_KEY="hN2yp2"

# NOTE: AWS S3 settings:
AWS_S3_REGION="us-west-1"
AWS_S3_BUCKET="902-local"